.criteria {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: center;
}

.addressInput {
  min-width: 360px;
}

.depthSelect,
.limitSelect {
  min-width: 96px;
}

.dateSelect {
  min-width: 248px;
}
