.container {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 70px);
  max-width: 1280px;
  margin: 0 auto;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.925);
  color: rgb(255, 255, 255);
  height: 70px;
  font-size: 1.5rem;
}

.header > img {
  display: block;
}

.separator {
  margin: 0 8px 0 8px;
}

.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.925);
  height: 70px;
  font-size: small;
}

.graphContainer {
  position: relative;
  min-height: 600px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  backdrop-filter: blur(0);
  background-color: transparent;
  visibility: hidden;

  transition: backdrop-filter 150ms ease-out, background-color 150ms ease-out;
}

.loader.show {
  backdrop-filter: blur(2px);
  background-color: rgba(0 0 0 / 10%);
  visibility: visible;

  pointer-events: initial;
}
