.container {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 70px);
  max-width: 1280px;
  margin: 0 auto;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.925);
  color: rgb(255, 255, 255);
  height: 70px;
  font-size: 1.5rem;
}

.header > img {
  display: block;
}

.separator {
  margin: 0 8px 0 8px;
}

.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.925);
  height: 70px;
  font-size: small;
}
